.control {
  position: relative;
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.title {
  margin-left: 88px;
  margin-bottom: 5px;
}

.name {
  margin: 0;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.origin {
  margin: 0;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 80%;
  max-height: 272px;
  position: relative;
  border-radius: 5px;
}
