@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.card {
  animation: scaleIn 0.25s ease 0s 1 normal none running;
  transform-origin: center;
  background-color: var(--mantine-color-dark-7);
  padding: 0px 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
  border-radius: 0%;
}

.name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  color: var(--mantine-color-white);
  line-height: 24px;
  white-space: break-spaces;
  margin-top: 12px;
}

.name:hover {
  color: var(--mantine-color-green-5);
}

.category {
  padding: 2px 4px;
  margin-right: 8px;
  margin-bottom: 6px;
  font-size: 13px;
  color: rgb(236, 236, 236);
  font-weight: 500;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
}

.row {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  width: 100%;
  font-size: 14px;
  color: var(--mantine-color-white);
  font-weight: 400;
  white-space: normal;
}

.content {
  overflow: hidden;
}

.continue {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: var(--mantine-color-green-5);
  font-size: 14px;
}
